html {
    font-size: 62.5%;
}
body{
    font-family: $ff;
    font-size: $fs;
}
.title{
    font-family: $ff-title;
    font-size: $fs-title;
}
.subtitle{
    font-family: $ff-sub;
    font-size: $fs-sub;
}
